.header-container {
  background-color: #5081a0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
  margin: 15px;
}

.divLogoDetran {
  width: 200px;
  text-align: left;
}

.logoDetran {
  width: 180px;
}

.divTituloPortal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.divTituloPortal h1 {
  color: white;
}

.divLogoGoverno {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  position: relative;
  text-align: right;
}

.divLogoGoverno img {
  width: 180px; /* Ajuste conforme necessário */
  position: relative;
  z-index: 1;
}

.divLogoGoverno span {
  width: 115px;
  text-align: right;
  font-size: 10px;
  margin-top: 0px;
  position: absolute;
  top: 59%;
  z-index: 0;
}

@media (max-width: 768px) {
  .header-container .banner {
    flex-direction: column;
    align-items: center;
  }

  .divLogoGoverno {
    display: none;
  }

  .divTituloPortal {
    margin-top: 20px;
  }
}
.tipo-usuario {
  display: none;

  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  background-color: var(--cinza-2);
  padding: 0 2rem;
  color: var(--cinza-1);
  font-weight: 700;
}

.subheader {
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0 0 10px 0 var(--cinza-2);
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--cinza-2);
}

.dropdown {
  list-style: none;
  z-index: 1000;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  min-width: 100px;
  margin-right: 32px;

}
.dropdown-lista {
  display: none;
  z-index: 1000;
  background-color: var(--cinza-1);
  padding: 1rem;
}

.dropdown-lista.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown-titulo {
  min-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}
.dropdown-item {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
}

.login {
  width: 100%;
  text-align: end;
  font-size: 11pt;
}

.dropdown-divider {
  border-top: 1px solid var(--cinza-2);
  height: 1px;
}

.logout {
  cursor: pointer;
}
